/* Estilos para los iconos personalizados */
/*  En el HTML se utilizan los iconos de esta manera:
    <i class="i icon-home"></i>
    <i class="i icon-user medium"></i>
    <i class="i icon-settings large"></i> 
*/

/* 01-Ajuste global para todos los iconos */
.i {
    display: inline-block;
    width: 24px;  /* Tamaño predeterminado */
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* 02-Iconos específicos */
.icon-back {
    background-image: url('../icons/back.svg');
}
.icon-folder {
    background-image: url('../icons/carpeta.svg');
}
.icon-pdf {
    background-image: url('../icons/pdf_a.png');
}
.icon-excel {
    background-image: url('../icons/excel.svg');
}
.icon-word {
    background-image: url('../icons/word.svg');
}
.icon-home {
    background-image: url('../icons/home.svg');
}
.icon-chevron-der {
    background-image: url('../icons/chevron-derecha-en-círculo-64.png');
}
.icon-info {
    background-image: url('../icons/info-64.png');
}



/* 03-Personalización de tamaño */
.i.small { width: 16px; height: 16px; }
.i.medium { width: 32px; height: 32px; }
.i.large { width: 48px; height: 48px; }
