body{
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;

}

.div-titulo{
    width: 100%;
    height: 60px;
    background-color: rgb(29, 28, 28);
    
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    color: aliceblue;
    margin: 0;
}

main{
    display: flex;
    justify-content: center; 
    min-height: 99vh;
}

.panedile{
    font-weight: bold;
    color: #354F61;
}

footer>p{
    position: fixed;
    bottom: 0px;
    margin: 0;
    color: gray;
}

h2{
    text-align: center;
    margin: 0;
    margin-bottom: 1rem;
    padding-top: 2rem;
}

a{
    text-decoration: none;
    color: #000;
}

li{
    list-style: none;
}

.logo-Volver-Inicio{
    display: block;
}

.inicio-menu{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    justify-content: center;
}

.sub-conteiner{
    
    display: flex;
    flex-direction: column;
}

.centrar-contenido-final{
    min-width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;

    background: rgba(255, 255, 255, 0.377);
}


.conteiner-tarjeta{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.tarjeta{
    margin: 2rem;
    padding: 2rem;
    background-color: #ffffff46;
    width: 160px;
    height: 160px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    /* border */
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 2px solid #faf2fa;

    /* box-shadow */
    -webkit-box-shadow: 10px 10px 7px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 7px -7px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 7px -7px rgba(0,0,0,0.75);
}

.tarjeta>a{
    font-weight: bold;
}

.tarjeta>img{
    width: 130px;
}

/** Home ***********************/
.inicio-listado>li{
    /* list-style: none; */
    padding: 0.5rem;
    margin: 1rem 0.5rem;
    
    /* border */
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 4px solid #faf2fa;

    /* box-shadow */
    -webkit-box-shadow: 10px 10px 7px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 7px -7px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 7px -7px rgba(0,0,0,0.75);
}

.inicio-listado>li>a, .manual-doc{
    display: flex;
    align-items: center;
}

.inicio-listado>li>a>i, .manual-doc>i{
    margin-right: 0.4rem;
}


.manual-doc-info{
    display: flex;
    justify-content: space-between;
}

.info-doc-revision{
    margin-left: 2rem;
}

/** 03 ******************/
.div-micro-menu{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
}
.div-micro-menu>a{
    display: flex;
    align-items: center;
    margin-right: 2rem;
}
.div-micro-menu>a>i{
    margin-right: .3rem;
}
.tarjeta-details{
    margin-top: 2rem;
} 
.details-content{
    padding: .5rem 1rem;
}
.details-content>td{
    padding-right: 1rem;   
}
details{
    margin: 1rem 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
    box-shadow: 10px 10px 7px -7px rgba(0,0,0,0.75);
}

summary{
    font-weight: bold;
    color: darkslategray;
    padding-top: .3rem;
    padding-bottom: .3rem;
}
summary>a{
    margin-left: 1rem;
}

/* Componentes-SGA */
.componente-tarjeta{
    height: 2rem;
    max-width: 70%;
    display: flex;
    align-items: center;
    margin: 1rem 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1.5rem;
    box-shadow: 10px 10px 7px -7px rgba(0,0,0,0.75);
}
.table-componente-sga{
    border-spacing: 1.3rem;
}
.proyect{
    border: 1px solid rgb(180, 178, 178);
    padding: 0 .5rem;
    font-size: 0.8em;
}
.proyect>a{
    color: rgb(109, 108, 108);
}

tbody>tr{
    height: 45px;
    color: darkslategray;
}

tbody>tr:hover{
    box-shadow: 3px 4px 18px 0px rgb(106 187 209);
    transition: box-shadow 0.3s ease;
}

/* IMAGEN DE FONDO POR SECCIÓN o General*/
/* general */
.bg-content-pages{
    background-image: url('../img/bg-malla-geometrica-edit.svg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    background-attachment: fixed; 
}

.bg-content-03{
    min-height: 80vh;
    width: 100%;
}
.bg-content-01{
    min-height: 80vh;
    width: 100%;
}


@media screen and (max-width: 425px) {
    h1{
        font-size: larger;
        text-align: center;
    }

    footer>p{
        position: relative;
        padding-left: 1rem;
    }

    .centrar-contenido-final, .centrar-contenido-final>h2{
        padding: 0;
    }

    /* 03 */
    /* .centrar-contenido-final>h2{
        padding: 0;
    } */

    /* component-sga */
    .componente-tarjeta{
        max-width: 100%;
        padding: 0;
        box-shadow: -6px 10px 7px -7px rgba(0,0,0,0.75);

    }

}
